<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <br />
  <i><%= @place.address %></i>
  <br /><br />
  <p><%= @place.description %></p>
  <div class="float-right">
    <%= link_to 'Edit', edit_place_path(@place), class:'btn btn-outline-warning' %>
    <%= link_to 'Delete', place_path(@place), method: :delete, data: { confirm: 'Are you sure ?'}, class: 'btn btn-outline-danger' %>
  </div>
  <br class='clear' />
</div>
