<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <br />
  <i><%= @place.address %></i>
  <br /><br />
  <p><%= @place.description %></p>

  <style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<% if @place.latitude.present? && @place.longitude.present? %>
  <script>
    function initMap() {
      var myLatLng = {lat:<%= @place.latitude %>, lng:<%= @place.longitude %> };

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 17,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0ZIl2cgoQqRcdxdFzZUJAlqAdKJ0-Zig&callback=initMap">
  </script>

  <div id="map"></div>
<% end %>
<br />
  <div class="float-right">
    <% if current_user && current_user == @place.user %>
      <%= link_to 'Edit', edit_place_path(@place), class:'btn btn-outline-warning' %>
      <%= link_to 'Delete', place_path(@place), method: :delete, data: { confirm: 'Are you sure ?'}, class: 'btn btn-outline-danger' %>
    <% end %>
  </div>
  <br class='clear' />
  <br />
  <div class="clear"></div>
  <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
    <%= f.input :message %>
    <%= f.input :rating %>
    <%= f.submit "Add a Comment", class:"btn btn-outline-warning" %>
  <% end %>
  <h1>Comments</h1>
  <% @place.comments.each do |comment| %>
      <div>
      <blockquote>
        <b><%= comment.rating %> -
        <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
      </div>
  <% end %>
</div>

